body {
  height: 500px;
  width: 400px;
  margin: 0;
  overflow: hidden;
  @apply bg-white dark:bg-black;
}

#root {
  min-height: 400px;
  overflow: hidden;
}

:root,
:root * {
  @apply scrollbar-thin scrollbar-thumb-secondary-light;
  scrollbar-width: auto;
  scrollbar-color: auto;
}

:root.dark,
:root.dark * {
  @apply scrollbar-track-black scrollbar-thumb-purple-dark;
}
